<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.events" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventPage" >
        </activity>
        <activity android:name=".FilterPage" >
        </activity>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="7FYu4sxa7MuBIdpCmQVWwqNEqX6rxYo6Q0yNKO1v" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="cHnuYnSDcfIuM5goHbprCiNxjCWaSaTe22zVzXn9" />
    </application>

</manifest>
